beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
commonmark==0.9.1
future==0.18.2
idna==2.8
pandas==1.0.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
requests-file==1.5.1
rich==6.0.0
selenium>=4.0
six==1.14.0
soupsieve==1.9.5
tldextract==2.2.2
typing-extensions==3.7.4.3
urllib3==1.25.8
xlrd==1.2.0
chromedriver-autoinstaller
